
.container {
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.icon-div-1 {
    z-index: 9999;
    overflow: hidden;
    margin-top: -100px;
    margin-left: 150px;
    width: 85%;
}


.container figure#celular {
    position: absolute;
    top: 260px;
    left: 190px;
    z-index: 1;
}

.container figure#luz {
    position: relative;
    right: 350px;
    z-index: 0;
}

.work {
    position: absolute;
    margin-left: 1100px;
    margin-top: 350px;
    
}

.logos {
    position: absolute;
    margin-left: 1077px;
    margin-top: 420px;
}

.gplay {
    position: absolute;
    margin-left: 1420px;
    margin-top: 510px;
}

.appstore {
    position: absolute;
    margin-left: 1170px;
    margin-top: 510px;
}

.um {
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background: #000000;
    overflow: hidden;
    display: flex;
    background-image: url(../IMG/FUNDO\ SUPERIOR.png);

}